@using Microsoft.AspNetCore.Mvc.Localization
@using LeptonXDemoApp.Localization
@inject IHtmlLocalizer<LeptonXDemoAppResource> L

    <ul class="lpx-nav-menu">
        <li class="outer-menu-item py-1">
            <a class="btn lpx-menu-item-link nav-link w-100 d-flex align-items-center justify-content-center" role="button" href="~/Account/Login"><i class="fa fa-sign-in"></i></a>
        </li>
    </ul>
</div>
