<app-breadcrumb />

<kendo-grid
  [data]="data"
  [loading]="service.loading"
  [sortable]="sortable"
  [filterable]="filterable"
  [pageSize]="state.take"
  [skip]="state.skip"
  [pageable]="pageable"
  [filter]="state.filter"
  [group]="state.group"
  [height]="height"
  [groupable]="groupable"
  [selectable]="true"
  (selectionChange)="onSelectionChange($event)"
  (edit)="editHandler($event)"
  (remove)="removeHandler($event)"
  (add)="onAdd()"
  (dataStateChange)="onDataStateChange($event)"
>
  <ng-template kendoGridToolbarTemplate>
    <button
      class="add-new"
      style="background-color: rgb(51, 51, 187)"
      [style]="{ color: 'white' }"
      kendoGridAddCommand
      (click)="onAdd()"
    >
      Add new
    </button>
    <button class="pdf-export" kendoGridPDFCommand [svgIcon]="filePdfIcon">Export to PDF</button>
    <button class="excel-export" type="button" kendoGridExcelCommand [svgIcon]="fileExcelIcon">
      Export to Excel
    </button>
  </ng-template>
  <kendo-grid-column
    *ngFor="let column of gridColumns"
    [field]="column.field"
    [width]="column.width"
    [format]="column.format"
    [filter]="column.filter"
  >
  </kendo-grid-column>

  <kendo-grid-column field="dob" format="d">
    <ng-template kendoGridFilterCellTemplate let-filter>
      <date-range-filter-cell class="date-range-filter" [filter]="filter" field="dob">
      </date-range-filter-cell>
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-pdf
    fileName="Products.pdf"
    [allPages]="true"
    paperSize="A4"
    [repeatHeaders]="true"
    [landscape]="true"
  >
    <kendo-grid-pdf-margin top="2cm" left="1cm" right="1cm" bottom="2cm"></kendo-grid-pdf-margin>
    <ng-template kendoGridPDFTemplate let-pageNum="pageNum" let-totalPages="totalPages">
      <div class="page-template">
        <div class="header">
          <div style="float: right">Page {{ pageNum }} of {{ totalPages }}</div>
          Multi-page grid with automatic page breaking
        </div>
        <div class="footer">Page {{ pageNum }} of {{ totalPages }}</div>
      </div>
    </ng-template>
  </kendo-grid-pdf>
</kendo-grid>
